<%# leaving #spree-header div for legacy support  %>
<% cache spree_nav_cache_key('header') do %>
  <div id="spree-header" data-turbolinks-permanent>
    <header class="header header-intro-clearance header-3">
      <div class="header-top">
        <div class="container">
          <div class="header-left">
            <a href="tel:+917009955770"><i class="icon-phone"></i>Call: +917009955770</a>
          </div><!-- End .header-left -->
          <div class="header-right">
            <ul class="top-menu">
              <li>
                <a href="#">Links</a>
                <ul>
                  <li>
                    <%= render 'spree/shared/currency_dropdown' %>
                  </li>
                  <li>
                    <%= render 'spree/shared/locale_dropdown' %>
                  </li>
                  <% if spree_current_user %>
                    <% if defined?(spree.account_link_path) %>
                      <li>
                        <div class="dropdown navbar-right-dropdown">
                          <button id="account-button" type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle account-icon" aria-label="<%= Spree.t('nav_bar.show_user_menu') %>">
                            <%= icon(name: 'person',
                                    classes: 'd-inline-block',
                                    width: 41.4,
                                    height: 36) %>
                          </button>

                          <div id="link-to-account" class="dropdown-menu dropdown-menu-right text-right">
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% else %>
                    <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>
                  <% end %>
                </ul>
              </li>
            </ul><!-- End .top-menu -->
          </div><!-- End .header-right -->
        </div><!-- End .container -->
      </div><!-- End .header-top -->
      <div class="header-middle">
          <div class="container">
              <div class="header-left">
                  <button class="mobile-menu-toggler">
                      <span class="sr-only">Toggle mobile menu</span>
                      <i class="icon-bars"></i>
                  </button>
                  
                  <%= logo %>
              </div><!-- End .header-left -->

              <div class="header-center">
                <%= render partial: 'spree/shared/search' %>
              </div>

              <div class="header-right">
                <div id="link-to-cart">
                  <%= render 'spree/shared/cart', class: 'd-inline-block cart-icon', size: 36, item_count: 0 %>
                </div><!-- End .cart-dropdown -->
              </div><!-- End .header-right -->
          </div><!-- End .container -->
      </div><!-- End .header-middle -->
      <div class="header-bottom sticky-header">
        <div class="container">
          <div class="header-center">
            <%= render partial: 'spree/shared/main_nav_bar' %>
          </div><!-- End .header-center -->

          <div class="header-right">
              <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
          </div>
        </div><!-- End .container -->
      </div><!-- End .header-bottom -->
    </header>
  </div>
<% end %>

<%= render partial: 'spree/shared/session_modals'%>
