<% if spree_navigation_data.any? %>
<div class="h-100 main-nav" role="navigation" aria-label="<%= Spree.t('nav_bar.desktop') %>">
  <nav class="main-nav">
    <ul class="nav h-100 main-nav-bar main-nav menu sf-arrows">
      <% spree_navigation_data.each do |root| %>
        <li class="p-0 nav-item main-nav-bar-category">
          <% has_dropdown = root[:items].present? || root[:promo_banners].present? %>
          <% dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
          <% data_attr = has_dropdown ? { toggle: "dropdown" } : {} %>
          <% aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>
          <%= link_to root[:title], root[:url], class: "sf-with-ul",  data: data_attr, aria: aria_attr %>
          <% if has_dropdown %>
            <div class="megamenu megamenu-sm">
              <div class="row no-gutters">
                <% if root[:items].present? %>
                  <div class="category-links col-md-6">
                    <% if root[:subtitle].present? %>
                      <div class="menu-col menu-title text-uppercase">
                        <%= root[:subtitle] %>
                      </div>
                    <% end %>
                    <ul class="pl-0">
                      <% root[:items].each do |item| %>
                        <li>
                          <%= link_to item[:title], item[:url], class: "text-uppercase main-nav-bar-category-links dropdown-item" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <% if root[:promo_banners].present? %>
                  <div class="col-md-6">
                    <% root[:promo_banners].each do |promo_banner| %>
                      <%= link_to promo_banner[:url], class: "dropdown-item" do %>
                        <div class="category-image text-center mx-3">
                          <%= main_nav_image(promo_banner[:image], promo_banner[:title]) %>
                          <div class="category-box">
                            <div class="category-box-small-text">
                              <%= promo_banner[:subtitle] %>
                            </div>
                            <div class="category-box-big-text">
                              <%= promo_banner[:title] %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
<% end %>
